<div class="row">
  <div>
    <div>
      <h3><%= @user.name %></h3>
      <h5>職務要約</h5>
      <div>
        <%= @user.outline %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-9">
    <ul class="nav nav-tabs nav-justified mb-3">
      <li class="nav-item"><a href="/mypage" class="nav-link active">職務経歴</a></li>
      <li class="nav-item"><a href="/mypage/certificates" class="nav-link">資格・免許</a></li>
      <li class="nav-item"><a href="#" class="nav-link">その他</a></li>
    </ul>
    <%= render 'histories/histories', histories: @histories %>
  </div>
  <aside class="col-sm-3">
    <div class="mb-4">
      PR
    </div>        
    <div class="mb-4">
      PR
    </div>        
  </aside>
</div>