<div class="row">
  <div class="col-sm-8">
    <div>
      <h3><%= current_user.name %></h3>
      <h5>職務要約</h5>
      <div>
        <%= current_user.outline %>
      </div>
      <h5>職務経歴</h5>
      <div>
        <!-- histriesテーブルのデータを表示 -->
      </div>
      <h5>資格・免許</h5>
      <div>
        <!-- certificatesテーブルのデータを表示 -->
      </div>
      <div>
        <!-- textsテーブルのデータを表示 -->
      </div>
    </div>
  </div>
</div>